.DS_Store
.idea
.vscode
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.postcssrc.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
package-lock.json

node_modules/
dist/
test/

